<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Predicted</title>
  </head>
  <body>
    <center>
      <h1>Prediction:</h1>
      {% if data == 0 %}
      <h1>Iris-setosa</h1>
      {% elif data == 1 %}
      <h1>Iris-Versicolor</h1>
      {% else %}
      <h1>Iris Virginica</h1>
      {% endif %}
    </center>

    <a href="/">Go back to homepage</a>
  </body>
</html>
